section {
    height: 100vh;
    background-image: url(../images/red.png);
    display: flex;
    align-items: baseline;
   flex-direction: row;
}

button {

}

.photo1 {
 width: 300px;
}

.photo2 {
    width: 300px;
    
}


.photo3 {
    width: 300px;
}


.textone {

}

marquee {
   
    background: #000;
    color: aliceblue;
    align-content: center;
    font-size: 40px;
    border-radius: 10px;
}